:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  max-width: 420px;
}

mat-form-field {
  width: 100%;
}

.flex-s-b {
  //TODO create global class
  display: flex;
  justify-content: space-between;
}
