<form [formGroup]="formGroup" class="form">
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Name</mat-label>
    <input matInput formControlName="username" type="text" placeholder="Enter your name"/>
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="text" placeholder="Enter email"/>
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" placeholder="Enter password"/>
  </mat-form-field>
  <button mat-raised-button (click)="register()">Register</button>
  <button mat-raised-button>Do you already have an account?</button>
</form>
